:root {
    --color-accent: #3751FF;
    --color-grayscale: #9FA2B4;
    --color-grayscale-dark: #252733;
    --color-grayscale-divider: #DFE0EB;
    --color-gray-dark-text: #A4A6B3;
    --color-gray-light-text: #DDE2FF;


}

main div ul li a svg {
    fill: white;

}

main div:first-child a span {
    color: var(--color-gray-dark-text);
    font-weight: bold;
}