// Variable overrides
$primary: #3751FF;
$light: #F7F8FC;
// $secondary: #F0F1F7;
$color-gray-dark-text: #9FA2B4;
$color-gray-dark-bg: #DDE2FF;
$font-family-sans-serif: "Mulish", sans-serif;
$nav-pills-link-active-bg: rgba($color-gray-dark-text, 0.08);
$nav-link-color: #A4A6B3;
$nav-pills-active-color: $color-gray-dark-bg;
$nav-link-hover-color: $color-gray-dark-bg;
$text-secondary: $color-gray-dark-text;

@import "../../node_modules/bootstrap/scss/bootstrap";


$bg-dark: #363740;

.logo-title {
    color: var(--color-gray-dark-text);
    font-weight: bold;
    margin-right: 40px;
}

aside {
    width: max-content !important;
    height: 100%;
    padding: unset !important;
    background-color: $bg-dark;
    position: fixed;
    // max-width: 255px !important;
    z-index: 1;
}

aside .nav-pills .nav-link {
    border-radius: 0;
    padding: 18px 20px;
    position: relative;
    color: $nav-link-color;
    fill: $color-gray-dark-text;
}

aside .nav-pills .nav-link.active {
    fill: $nav-pills-active-color;

    svg {
        fill: $color-gray-dark-bg !important;
    }

    &:before {
        position: absolute;
        display: inline-block;
        width: 3px;
        height: 100%;
        left: 0;
        top: 0;
        content: "";
        background-color: $color-gray-dark-bg;
    }
}


aside .nav-pills .nav-link.active .sidebar.collapsed span {
    // width: max-content !important;
    display: none !important;
    margin-right: unset;
}

#nav-links {
    margin-top: 60px;
}


.avatar {
    width: 44px;
    height: 44px;
    object-fit: cover;
}

.content {
    margin-left: 16.67%;

}

.content.collapsed {
    margin-left: 10%;
}

.card {
    flex: 1;
    max-width: 258px;
    max-height: 134px;
}

.chart {
    width: 50%;
    height: 50%;
}




.column {
    flex: 1;

    &:last-child {
        margin-right: 0;
    }
}

.gap-5 {
    gap: 40px !important;
}

.form-check-input.rounded-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.table {
    margin-bottom: 0;
}